<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=2.0,width=device-width" />
    <title>Single Page Application Demo</title>
    <!--
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    -->
    <link href="styles/core.css" rel="stylesheet" type="text/css" />
    <script data-main="scripts/app.js" src="scripts/lib/require.js"></script>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <div id="body">
        <section id="main" class="main-content">
        </section>
    </div>
</body>

<!-- 支付渠道选择 -->
<script type="text/template" id="home-template">
    <div class="common-title">
        <div><span>PAYMENT ORDER</span></div>
        <div><span>Huawei ePay</span></div>
    </div>
    <div class="split-line"/>
    <div class="payinfo">
        <div class="icon"></div>
        <div class="detail">
            <div>A Grail Item</div>
            <div class="priceinfo">
                <span>$</span>
                <span>1.00</span>
                <span>CNY</span>
            </div>
        </div>
    </div>
    <div class="split-line"/>
    <div class="content text-center">Choose a payment method</div>
    <div class="selection">
        <ul>
            <% _.each(channels, function(channel, i) { %>
                <li>
                    <div tabindex="<%= i+100 %>" id="next" type="button" class="" channelId="<%= channel %>" value="<%= channel %>">
                        <div class="icon" style="background:url(images/channel_<%= i%>.gif) center no-repeat;"/>
                        <div class="name"><%= channel %></div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="footer">
        <span>Customer service info.:</span>
        <span> If you have payment errors, please contact 400-22121-21212.</span>
    </div>
</script>

<!-- 银行卡支付 -->
<script type="text/template" id="credit-template">
    Credit Pay
</script>
<!-- 宽带支付 -->
<script type="text/template" id="broadband-template">
    <div class="subtitle">Are you sure you want to use broadband account to buy this goods?<div>
    
    <input id="pay" type="button" value="Pay Now"></input>
</script>
<!-- 手机支付 -->
<script type="text/template" id="mobile-template">
    <h3>Vodafone mobile phone users please send SMS "#01234#121" to 01200112, or directly scan the QR with your phone, and follow the prompts to complete payment operations</h3>
</script>
<!-- 手机支付：选择国家 -->
<script type="text/template" id="mobile-select-country-template">
    <div class="operator-title">
        <div><span>A Grail Item</span><span>$1.00 CNY</span></div>
        <div><span>Huawei ePay</span></div>
    </div>
    <div class="split-line"/>
    <div class="operator-content">Your position is not currently located, please select the country:</div>
    <div class="country-selection">
        <div class="country-left" style="height:<%= 158*countries.length%>px"/>
        <div class="country-center">
        <% _.each(countries, function(row_countries, i) { %>
            <div class="country-row">
                <ul>
                    <% _.each(row_countries, function(country, i) { %>
                        <li>
                            <div class="country-item" id="next" country="<%= country %>">
                                <div class="icon" style="background:url(images/country/log_<%= i%>.png) center no-repeat"/>
                                <div class="name"><%= country %></div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        </div>
        <div class="country-right" style="height:<%= 158*countries.length%>px"/>
    </div>
    <div class="restart-tip">
        <div class="checkbox"/>
        <div class="info">Restart the app now</div>
    </div>
</script>
<!-- 手机支付：选择运营商 -->
<script type="text/template" id="mobile-select-operator-template">
    <div class="operator-title">
        <div><span>A Grail Item</span><span>$1.00 CNY</span></div>
        <div><span>Huawei ePay</span></div>
    </div>
    <div class="split-line"/>
    <div class="operator-content">Your position is in the UK, please select your mobile operator:</div>
    <div class="operator-selection">
        <div class="operator-left"/>
        <ul>
            <% _.each(operators, function(operator, i) { %>
                <li>
                    <div tabindex="<%= i+1000 %>" id="next" class="" operator="<%= operator %>">
                        <div class="icon" style="background:url(images/operator/operator_logo_<%= i%>.png) center no-repeat"/>
                    </div>
                </li>
            <% }) %>
        </ul>
        <div class="operator-right"/>
    </div>
    
    <div class="operator-footer">
        <div>If you are not in the UK, please</div>
        <div>select the country</div>
    </div>
</script>
<!-- AlertView -->
<script type="text/template" id="alert-template">
    <div class="alert-view">
        <% if (icon != null) { %>
            <div class="icon" style="background:url(<%= icon %>) center no-repeat"></div>
        <% } %>
        <% if (message != null) { %>
            <div class="message"><%= message %></div>
        <% } %>
    </div>
</script>

</html>
