<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Page Application Demo</title>
    <!--
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="styles/site.css" rel="stylesheet" type="text/css" />
    <link href="styles/modern.css" rel="stylesheet" type="text/css" />
    -->
    <script data-main="scripts/app.js" src="scripts/lib/require.js"></script>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <div id="body">
        <section id="main" class="content-wrapper main-content clear-fix">
            
        </section>
    </div>
</body>

<!-- Home -->
<script type="text/template" id="home-template">
    <!-- <h1>selected: <%= selectedChannel %></h1> -->
    <h1>Choose a payment method</h1>
    <% _.each(channels, function(channel, i) { %>
        <li><input id="next" type="button" class="" channelId="<%= channel %>"/><%= channel %></li>
    <% }) %>
</script>

<script type="text/template" id="credit-template">
    Credit Pay
</script>

<script type="text/template" id="broadband-template">
    Broadband Pay
</script>

<script type="text/template" id="mobile-template">
    Mobile Pay
</script>

<script type="text/template" id="mobile-select-country-template">
    Your position is not currently located, please select the country:
</script>

<script type="text/template" id="mobile-select-country-operator">
    Your position is in the UK, please select your mobile operator:
</script>

</html>
