<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Page Application Demo</title>
    <!--
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    -->
    <link href="styles/core.css" rel="stylesheet" type="text/css" />
    <script data-main="scripts/app.js" src="scripts/lib/require.js"></script>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <div id="body">
        <section id="main" class="content-wrapper main-content clear-fix">
            
        </section>
    </div>
</body>

<!-- Home -->
<script type="text/template" id="home-template">
    <!-- <h1>selected: <%= selectedChannel %></h1> -->
    <div class="title">Huawei ePay</div>
    <div>A Grail Item</div>
    <div>$1.00</div>
    <h1>Choose a payment method</h1>
    <div class="selection">
        <ul>
            <% _.each(channels, function(channel, i) { %>
                <li>
                    <input id="next" type="button" class="" channelId="<%= channel %>" value="<%= channel %>"/>
                </li>
            <% }) %>
        </ul>
    </div>
    <div style="float:left">Customer service info.: If you have payment errors, please contact 400-22121-21212.</div>
</script>

<script type="text/template" id="credit-template">
    Credit Pay
</script>

<script type="text/template" id="broadband-template">
    <h1>Are you sure you want to use broadband account to buy this goods?</h1>
</script>

<script type="text/template" id="mobile-template">
    <h3>Vodafone mobile phone users please send SMS "#01234#121" to 01200112, or directly scan the QR with your phone, and follow the prompts to complete payment operations</h3>
</script>

<script type="text/template" id="mobile-select-country-template">
    Your position is not currently located, please select the country:
    <% _.each(countries, function(country, i) { %>
        <li><input id="next" type="button" class="" country="<%= country %>"/><%= country %></li>
    <% }) %>
</script>

<script type="text/template" id="mobile-select-operator-template">
    Your position is in the UK, please select your mobile operator:
    <% _.each(operators, function(operator, i) { %>
        <li><input id="next" type="button" class="" operator="<%= operator %>"/><%= operator %></li>
    <% }) %>
</script>

</html>
