* {
    margin:0; 
    padding:0;
}

*:focus{
    outline:none; /* set focused element without hightlight outline */
}

html {
    font-size: 187.5%; /* 30 px */
}
@media screen and (max-width: 1920px) {
    html {
        font-size: 125%; /* 20 px */
    } 
}
@media screen and (max-width: 960px) {
    html {
        font-size: 62.5%; /* 10 px */
    }
}
@media screen and (max-width: 480px) {
    html {
        font-size: 31.25%; /* 5 px */
    }
}

/* Body */
body {
    font-size: 1.6rem;
    background: black;
    color: white;
}

/* Main Content */
.main-content {
    margin: auto;
    margin-top: 148px;
    width:900px;
}

/* 分割线 */
.split-line {
    background: white;
    width: 100%;
    height: 1px;
    margin-top: 22px;
    margin-bottom: 22px;
    clear:both;
}

/* 公共标题 */
.common-title {
    width:100%;
    
    height:31px;
}

.common-title div:first-child {
    width:50%;
    float: left;
    text-align: left;
}

.common-title div:last-child {
    width:50%;
    float:left;
    text-align: right;
}

/* 支付信息 */

.payinfo {
    height:156px; 
    width:40%;
    margin:auto;
}

.payinfo > .icon {
    width:156px;
    height:156px;
    float:left;
    background:url(../images/pay_icon.png) center no-repeat;
}

.payinfo > .detail {
    width:500px;
    height:156px;
}

.payinfo > .detail > div:first-child {
    padding-top: 30px;
}

/* 价格信息 */
.priceinfo {
    padding-left: 20%;
}

.priceinfo > span:first-child {
    color: white;
    font-size: 2.4rem;
}

.priceinfo > span:nth-child(2) {
    color: #00A2FF;
    font-size: 3.6rem;
}

.priceinfo > span:last-child {
    color: white;
    font-size: 1.8rem;
}

/* 渠道选择 */

.selection {
    width:900px;
    margin:auto;
}

.selection ul {
    list-style:none;
}

.selection ul li > div {
    float: left;
    margin:0 49px;
    width: 200px;
    height: 227px;
    border-radius: 6px;
    border: 1px solid gray;
}

.selection ul li > div:focus {
    background: gray;
}

.selection ul li div .icon{
    height: 111px;
    margin: 26px 0;
    background:center no-repeat;
}

.selection ul li div .name{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 20px;
}

/* */

.highlight {
    background: gray;
}

.title {
    font-size: 1.5rem;
    text-align: right;
    
}

.subtitle {
    font-size: 1.5rem;
    padding-left: 10%;
}

.content {
    font-size: 1.5rem;
    height: 65px;
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

/* 页面脚信息 */

.footer {
    clear: both;
    padding-top: 218px;
    font-size: 1.2rem;
}

.footer > span:first-child {
    color: white;
}

.footer > span:last-child {
    color: #666;
}

/* operator*/

.operator-title {
    width: 100%;
    height: 31px;
}

.operator-title div:first-child {
    width: 50%;
    float: left;
    text-align: left;
}

.operator-title div:first-child span:first-child {
    color: #00A2FF;
    margin-right: 15px;
}

.operator-title div:last-child {
    width: 50%;
    float: left;
    text-align: right;
}

.operator-content {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 127px;
    padding-bottom: 74px;
}

.operator-footer {
    clear: both;
    font-size: 1.5rem;
    color: #666;
    margin-top: 460px;
    margin-left:80px;
}

.operator-footer > div:first-child {
    float:left;
    height: 42px;
    padding-top: 16px;
}

.operator-footer > div:last-child {
    float:left;
    height: 42px;
    width:304px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 2px solid #363535;
    padding-top: 16px;
    margin-left: 16px;
}

.operator-selection{
    width:900 px;
    height:195 px;
}

.operator-selection .operator-left {
    width:45px;
    height:195px;
    float:left;
    background: url(../images/scroll_left.png) center no-repeat;
}

.operator-selection .operator-right {
    width:45px;
    height:195px;
    float:right;
    background: url(../images/scroll_right.png) center no-repeat;
}

.operator-selection ul {
    list-style:none;
}

.operator-selection ul li > div {
    float:left;
    width: 182px;
    height: 195px;
    border-radius: 6px;
    margin: 0 10px;
}

.operator-selection ul li > div .icon {
    width: 182px;
    height: 195px;
}

.operator-selection ul li > div:focus {
    background: gray;
}

/* Country */

.country-selection ul {
    list-style:none;
}

.country-selection .country-row {
    clear: both;
}

.country-selection ul .country-item {
    float: left;
    width: 182px;
    height: 158px;
    border-radius: 6px;
    margin:0 10px;
    background: red;
}