* {
    margin:0; 
    padding:0;
}

html {
    font-size: 187.5%; /* 30 px */
}
@media screen and (max-width: 1920px) {
    html {
        font-size: 125%; /* 20 px */
    } 
}
@media screen and (max-width: 960px) {
    html {
        font-size: 62.5%; /* 10 px */
    }
}
@media screen and (max-width: 480px) {
    html {
        font-size: 31.25%; /* 5 px */
    }
}

/* Body */
body {
    font-size: 1.6rem;
    background: black;
    color: white;
}


.main-content {
    margin: 5px;
}

.selection {
    width:324px;
    margin:auto;
}

.selection ul {
    list-style:none;
}

.selection ul li div:first-child {
    float: left;
    margin: 3px;
    width: 100px;
    height: 140px;
    border-radius: 6px;
    border: 1px solid gray;
}

.selection ul li div:focus {
    background: gray;
 }

.selection ul li div img{
    float: left;
    width: 100px;
    height: 100px;
    border: 0px;
    background: gray;
}

.highlight {
    background: gray;
}

.title {
    font-size: 3.2rem;
    text-align: right;
    
}

.subtitle {
    font-size: 3.2rem;
    padding-left: 10%;
}

.content {
    font-size: 1.8rem;
}

.text-center {
    text-align: center;
}

.priceinfo {
    padding-left: 20%;
}

.priceinfo span:first-child {
    color: red;
    font-size: 3.2rem;
}

.priceinfo span:last-child {
    color: gray;
    font-size: 1.8rem;
}

